#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.token-label {
  pointer-events: none;
}

.token-label div {
  pointer-events: none;
  text-align: center;
}
.leaflet-marker-icon {
  pointer-events: none !important;
}
